/* ================================== GLOBAL =========================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #e67e22;
}
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #555;
    font-weight: 300;
}
body {
    counter-reset: step;
}
section {
    margin: auto;
    padding: 80px 0 0;
    max-width: 1200px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}
h3 {
    text-transform: uppercase;
    font-size: 24px;
}
p {
    line-height: 145%;
}
ion-icon {
    font-size: 70px;
    color: rgb(230, 126, 34);
}


/* ====================================== LOCAL STYLING ============================== */
/* Button */
.button {
    color: var(--secondary-color);
    border-radius: 1.5em;
    margin-right: 1em;
    border: 1px solid var(--secondary-color);
    padding: .7em 2em;
    transition: all 200ms;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
}
.button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.button-container {
    display: flex;
    justify-content: center;
}
.button-container > .button {
    margin-right: none;
}
/* H1 heading */
h1.heading {
    font-size: 36px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
}
h1.heading::after {
    display: block;
    height: 2px;
    background-color: #e67622;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* =================================== NAVBAR =========================== */
.nav-container {
    position: absolute;
    width: 100%;
    z-index: 99;
}
.fixed-nav { /* Fixed nav styling */
    animation-name: fade-in-top;
    animation-duration: 500ms;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 2px #efefef;
}
.nav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo { /* Logo */
    width: 100px;
    padding: 5px;
}
.link-wrapper {
    display: flex;
}
.link-wrapper > li {
    margin-left: 20px;
    text-transform: uppercase;
}
.link-wrapper > li > a {
    font-size: 18px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: all 200ms;
}
.link-wrapper > li > a:hover {
    border-bottom-color: var(--secondary-color);
}
.fixed-nav .link-wrapper > li > a {
    color: #555;
}
.fixed-nav ion-icon.navicon {
    color: #555;
}
.nav-right-side .navicon {
    display: none;
}

/* =============================== HERO =============================== */
.cover-img {  /* Background */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/hero.jpg) center;
    background-size: cover;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}
div.nav-container {
    top: 0;
}
.slogan-button-container {
    max-width: 1200px;
}
.slogan-wrapper {
    margin-bottom: 15px;
}
.slogan { /* Slogan */
    line-height: 1.2;
    font-size: 45px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    word-spacing: 7px;
    letter-spacing: 5px;
}
.button-wrapper {
    display: flex;
    align-items: flex-start;
}





/* ================================ FEATURES ================================ */
.features-header > p { /* Heading */
    width: 70%;
    margin: auto;
    text-align: justify;
    margin-bottom: 30px;
}
.row {
    display: flex;
}
.features-item {
    margin: 12px 0;
    padding: 15px;
}
.features-item > h3 {
    margin-bottom: 15px;
}





/* ================================== GALLERY ================================== */
section#gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.gallery-wrapper { /* Use padding and absolute for exact aspect ratio of 4:3 */
    width: 25%;
    padding-top: 18.75%;
    overflow: hidden;
    position: relative;
    animation-name: fade-in;
    animation-duration: 500ms;
}
.gallery-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(1.15);
    transform-origin: center;
    filter: brightness(.7);
    transition: all 500ms;
}
.gallery-wrapper img:hover {
    transform: scale(1);
    filter: brightness(1);
}
#gallery .button {
    cursor: pointer;
    margin: 20px auto 0;
}
.hide {
    display: none!important;
}





/* ================================== HOW ================================== */
.how-phone {
    display: flex;
    flex-basis: 40%;
    justify-content: center;
}
.how-phone img {
    max-width: 70%;
    margin-bottom: 40px;
}
.how-steps {
    flex-basis: 60%;
}
.work-step {
    display: flex;
    margin-bottom: 20px;
}
.work-step::before {
    counter-increment: step;
    content: counter(step);
    border: 2px solid var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 55px;
    min-width: 55px; /* Width only decreases in flex => min-width ensure unchange width */
    text-align: center;
    font-size: 150%;
    margin-right: 25px;
}
.how-apps img {
    height: 50px;
    margin-right: 10px;
}





/* ======================================= CITIES ============================================= */
.city {
    margin: 10px;
}
.city ion-icon {
    font-size: 20px;
    padding-right: 5px;
}
.city h3 {
    margin: 10px 0;
}
.city a {
    color: #555;
}
.city img {
    max-width: 100%;
}
.city a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
#cities .row {
    margin-bottom: 30px;
}




/* ======================================= TESTIMONIALS ============================================= */
#testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.testimony {
    padding: 10px;
    font-style: italic;
}
.testimonials-header h1.heading {
    color: white;
}
.testimony p {
    color: white;
}
.testimony p::before {
    content: '\201C';
    font-size: 500%;
    display: block;
    margin: -10px;
}
.profile {
    color: white;
    display: inline-block;
    margin: 20px 0 40px;
    vertical-align: middle;
}
.profile img {
    border-radius: 50%;
    height: 45px;
    margin-bottom: 5px;
    display: block;
}
.profile {
    font-size: .85rem;
}




/* ===================================== PLANS ================================ */
.plans {
    background-color: #f4f4f4;
}
.plans .row {
    padding-bottom: 60px;
}
.plan {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    margin: 15px 15px 0px;
}
.price {
    margin: 20px 0 0;
    color: var(--secondary-color);
}
.price span {
    color: var(--secondary-color);
    font-size: 300%;
    font-weight: 100;
}
.plans ion-icon {
    font-size: 12px;
}
.plans ul {
    margin-top: 30px;
}
.plans li {
    padding-bottom: 12px;
}
.plans .button {
    font-size: 16px;
} 






/* ======================================= FOOTER ============================================= */
footer {
    background-color: #333;
}
footer .row {
    justify-content: space-between;
    align-items: center;
}
footer ul {
    display: flex;
}
footer a {
    display: inline-block;
    margin: 0px 5px;
    color: #888;
}
footer a:hover {
    text-decoration: underline;
}
footer ion-icon {
    color: #888;
    font-size: 30px;
    margin: 20px 5px;
}
footer ion-icon:hover {
    color: #bbb;
}
.copyright {
    color: #888;
    padding: 20px 0;
    text-align: center;
}




/* =================================================== FORM ======================================== */
form {
    padding-bottom: 30px;
}
.field {
    margin: 20px 0;
}
.field > * {
    display: inline-block;
}
.field > *:focus {
    outline: none;
}
.field label {
    width: 25%;
    vertical-align: top;
    padding-left: 10px;
}
.field > :last-child {
    width: 72%;
    padding: 5px;
}
input[type="checkbox"] {
    width: initial!important;
    margin-right: 5px;
}
textarea {
    resize: vertical;
}