@media screen and (max-width: 900px) { /* Tablet */
    .row {
        display: block;
    }
    .cover-img { /* Hero */
        padding: 10px;
    }
    .features-header > p {
        width: 95%;
    }
    .gallery-wrapper { /* Gallery */
        width: 50%;
        padding-top: 37.5%;
    }
    .how-phone img { /* How */
        max-width: 40%;
    }
    .work-step {
        margin: 20px auto;
        width: 80%;
    }
    .how-apps {
        display: flex;
        justify-content: center;
    }
    .city { /* Cities */
        width: 95%;
        margin: 10px auto;
    }
    .plan { /* Plans */
        width: initial;
    }
}



@media screen and (max-width: 600px) { /* Mobile */
    * { /* Font-size and width*/
        font-size: 16px;
    }
    .slogan {
        font-size: 25px;
    }
    h1.heading {
        font-size: 28px;
    }
    .link-wrapper > li > a {
        font-size: 12px;
    }
    .work-step::before {
        font-size: 100%;
        height: 40px;
        min-width: 40px;
    }
    .how-apps img {
        height: 35px;
    }
    #logo {
        width: 75px;
    }
    nav .link-wrapper { /* Navbar */
        display: block;
    }
    .navicon {
        color: white;
        cursor: pointer;
        font-size: 40px;
    }
    .nav-wrapper {
        justify-content: initial;
    }
    .nav-left-side {
        align-self: baseline;
    }
    .nav-right-side {
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
    }
    .link-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: max-height 200ms;
    }
    .expand {
        max-height: 180px;
    }
    .nav-right-side .navicon {
        display: block;
    }
    nav .link-wrapper a:hover {
        color: var(--secondary-color);
        border-bottom: 2px solid transparent; /* Cancel border bottom hover effect */
    }
    .cover-img .button { /* Hero */
        padding: .7em 1em;
        font-size: 14px;
    }
    .gallery-wrapper {
        width: 100%;
        padding-top: 75%;
    }
    footer a {
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
    }
    .field label { /* Form */
        display: block;
        width: 100%;
    }
    .field > :last-child {
        padding-left: 10px;
        margin: 5px 0 0 10px;
        width: 95%;
    }
}